{% extends 'base.html' %}

{% block title %}
Обо Мне
{% endblock %}

{% block body %}
<div class="container">
    <h1 xmlns="http://www.w3.org/1999/html">Обо Мне</h1>
        <p>Я окончил курсы по Python-разработке и дальше совершенствуюсь в этой сфере. Здесь собраны примеры моих проектов.</p><br>
        <p>Контактая информация:</p>
        <ul>
            <li>Телефон: +375 (25) 943-81-95 (viber)</li>
            <li>Email: sergeikozubovsky@yandex.ru</li>
            <li><a href="https://www.linkedin.com/in/сергей-соловьёв-ba7709242/">LinkedIn</a></li>
            <li><a href="https://github.com/baronsolo">GitHub</a></li>
            <li>Telegram: @baronsol</li>
        </ul>
</div>
{% endblock %}